.cartWrapper{
    display: flex;
    justify-content: center;
}

.cartContentWrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
    
}
div{
    border: 1px solid red
}
.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItemExtra{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.cartItemExtra .cartItemImageWrapper{
    text-align: end;
    padding-right: 0.5em;
}
.cartItemExtra .cartItemDetails{
    text-align: start;
}
.cartItemDetails{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100px;
}
.cartItemImageWrapper{
flex-grow: 1;
align-self: center;
}
.cartItemImageWrapper img{
    width: 100px;

    }
.cartItemQuantity{
    max-width: 60px;
    align-self: center;
    padding-right: 15px;
}
.cartContentTop{
    display: flex;
    flex-direction: row;
}
.cartItemPrice{
    width: 60px;
    align-self: center;
}
.cartContentTopCC{
    flex-grow: 1;
}

.cartContentTopQuantity{
    width: 60px;
}
.cartContentTopPrice{
    width: 60px;
    align-content: center;
    height: 100%;
}
.removeFromCart{
    background-color: white;
    color: black;
}