.cartWrapper{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.cartContentWrapper{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    gap: 10px;
}
.cartContentWrapper div.cartItem{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItemExtra{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.cartItemExtra .cartItemDetails{
    text-align: start;
}
.cartItemDetails{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: fit-content;
}
.cartItemImageWrapper{
flex-grow: 1;
align-self: center;
}
.cartItemImageWrapper img{
    max-width: 100px;

    }
.cartItemQuantity{
    max-width: 60px;
    align-self: center;
    padding-right: 15px;
}
.cartContentTop{
    display: flex;
    flex-direction: row;
}
.cartItemPrice{
    max-width: 60px;
    align-self: center;
}
.cartContentTopCC{
    flex-grow: 1;
}

.cartContentTopQuantity{
    max-width: 60px;
}
.cartContentTopPrice{
    max-width: 60px;
    align-content: center;
    height: 100%;
}
.removeItem{
    display: flex;
    align-items: center;
}
.removeFromCart{
    background-color: white;
    color: black;
}
h2.cartItem{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

@media(max-width:500px){
 section{
    font-size: 14px;
 }
 .removeItem{
    display: flex;
    flex-direction: column;
}
}
@media(max-width:350px){
    section{
       font-size: 12px;
    }
    .removeItem{
       display: flex;
       flex-direction: column;
   }
   }
   @media(min-width:500px){
    .cartWrapper{
    padding: 30px 40px;
}}
   @media(min-width:1024px){
    .cartWrapper{
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
        padding: 30px 40px;
    }
   }