
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between
}

.navbar li{
    
    padding: 10px;
}
.navbar div{
    display: flex;
    flex-direction: row;
    margin: 0 5vw;
    
}
.navbar a li {
    text-decoration:none;
    color: white;
    
}
.navbar li:hover{
    background-color: #dfdede;
}
.navbar a li:hover {
    color: rgb(91, 91, 91);
}

.navbar a.cart{
    align-self: flex-end;
}