.imageWrapper{
    height:200px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageWrapper img{
    height:150px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodCardName{
font-weight: bold;
font-size: 2em;
}
.prodCardPrice{
    font-size: 1.5em;
}
.productCardWrapper{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}