.popup-overlay{
    background: rgba(0, 0, 0, .5);
}
.popup-overlay div{
    background-color: white;
}
.popup-overlay div .sure{
    color: black;
    background-color: brown;
}
.popup-overlay div .notSure{
    color: white;
    background-color: brown;
}
.modal{
    display: flex;
    justify-content: space-around
}
.areUSure{
    text-align: center;
}
.popup-content{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
}